body {
    background: #0f172a;
    font-family: system-ui, sans-serif;
    color: #e5e7eb;
}

.app {
    max-width: 900px;
    margin: auto;
}

header {
    text-align: center;
    font-size: 28px;
    padding: 20px;
    background: #020617;
}

.controls {
    margin: 10px;
}

button {
    background: #2563eb;
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

pre {
    height: 400px;
    overflow-y: auto;
    background: black;
    padding: 10px;
    border-radius: 5px;
}
